{% extends 'layouts/base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}
    <h1 class="pl-5 pb-5 mb-6 text-center" >Welcome to our Home page</h1>
{% endblock %}
