{% extends 'layouts/base.html.twig' %}

{% block title 'PAGE ADMIN' %}

{% block body %}
    <div class="text-center mt-5">
        <a href="{{ path('app_home') }}" class="btn btn-info ml-5">HOME</a>
        <a href="{{ path('app_create') }}" class="btn btn-info ml-5">NOUVELLE PUB</a>
    </div>
    <h1 class="h3 mt-5 text-center text-muted">Vous êtes sur la page d'admistrarion, donc si vous n'êtes pas autorisé veillez sortir</h1>
{% endblock %}
